@model HotelManagement.Models.PhongDichVu

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Thêm Dịch Vụ Cho Phiếu Thuê Phòng</h2>

<form asp-action="AddDichVu"  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="MaPhieuThue" />

    <div class="form-group">
        <label asp-for="MaDichVu" class="control-label">Tên Dịch Vụ</label>
        <select asp-for="MaDichVu" class="form-control" asp-items="ViewBag.MaDichVu"></select>
    </div>

    <div class="form-group">
        <label asp-for="SoLuong" class="control-label">Số Lượng</label>
        <input asp-for="SoLuong" class="form-control" />
    </div>

    <button  asp-area="Admin" type="submit" name="action" value="save" class="btn btn-primary">Lưu</button>
    <button  asp-area="Admin" type="submit" name="action" value="exit" class="btn btn-secondary">Thoát</button>
</form>

<div>
    <a asp-action="RoomRental" asp-area="Admin" class="btn btn-primary">Back to List</a>
</div>

