@model HotelManagement.Models.DatPhong
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2 class="m-0 font-weight-bold text-primary">Phiếu Đặt Phòng</h2>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" asp-action="Booking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                 <label  class="control-label">Phòng</label>
                 <select asp-for="MaPhong" class="form-control" asp-items="ViewBag.MaPhong"></select>
             </div>
            <div class="form-group">
                <label class="control-label">Tên Khách Hàng</label>
                <select id="searchCustomer" asp-for="MaKh" class="form-control">
                    @if (ViewBag.KhachHang != null)
                    {
                        foreach (var khachHang in ViewBag.KhachHang)
                        {
                            <option value="@khachHang.MaKh" data-cccd="@khachHang.Cccd">@khachHang.HoTenKh</option>
                        }
                    }
                    else
                    {
                        <option value="">Không có khách hàng nào</option> <!-- Thông báo nếu không có khách hàng -->
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Số CCCD</label>
                <input type="text" id="cccdTextbox" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Nhân Viên</label>
                <select asp-for="MaNv" class ="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Loại Hình Đặt</label>
                <select asp-for="MaLoaiHinhDat" class ="form-control" asp-items="ViewBag.MaLoaiHinhDat"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Ngày Nhận</label>
                <input asp-for="NgayNhan" class="form-control" type="date" />
                <span asp-validation-for="NgayNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Ngày Trả</label>
                <input asp-for="NgayTra" class="form-control" type="date" />
                <span asp-validation-for="NgayTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giờ Nhận</label>
                <input asp-for="GioNhan" class="form-control" type="time" value="14:00" />
                <span asp-validation-for="GioNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giờ Trả</label>
                <input asp-for="GioTra" class="form-control" type="time" value="14:00" />
                <span asp-validation-for="GioTra" class="text-danger"></span>
            </div>

      
            <div class="form-group">
                <label  class="control-label">Số Người Ở</label>
                <input asp-for="SoNguoiO" class="form-control" />
                <span asp-validation-for="SoNguoiO" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label class="control-label">Loại Hình Đặt</label>
                <select asp-for="MaTinhTrangDat" class="form-control" asp-items="ViewBag.MaTinhTrangDat"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Phiếu Đặt" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RoomRental" asp-area="Admin" class="btn btn-primary">Back to List</a>
</div>

 @section Scripts{
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
      <script type="text/javascript">
                     $(function () {
                         $("#searchCustomer").select2();
                        $('#searchCustomer').change(function () {
                            var selectedEmail = $('#searchCustomer option:selected').data('cccd');
                $('#cccdTextbox').val(selectedEmail); // Update the readonly textbox with selected email
                        });

                             });
                 </script>
     }
 