@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HotelManagement.Models.KhachHang

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="m-0 font-weight-bold text-primary">Thêm Khách Hàng</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTenKh" class="control-label">Họ Tên Khách Hàng</label>
                <input asp-for="HoTenKh" class="form-control" />
                <span asp-validation-for="HoTenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamSinh" class="control-label">Năm Sinh</label>
                <input asp-for="NamSinh" class="form-control" />
                <span asp-validation-for="NamSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số Điện Thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuocTich" class="control-label">Quốc Tịch</label>
                <input asp-for="QuocTich" class="form-control" />
                <span asp-validation-for="QuocTich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cccd" class="control-label">Số CCCD</label>
                <input asp-for="Cccd" class="form-control" />
                <span asp-validation-for="Cccd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm Khách Hàng" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Customer" class="btn btn-primary">Back to List</a>
</div>

